PORT=3333

OPENAI_API_KEY=COLE_SUA_OPENAI_API_KEY_AQUI
OPENAI_TRANSCRIPTION_MODEL=whisper-1
OPENAI_LLM_MODEL=gpt-4o-mini

SUPABASE_URL=COLE_SUA_URL_DO_PROJETO_SUPABASE
SUPABASE_SERVICE_ROLE_KEY=COLE_SUA_SERVICE_ROLE_KEY

UPLOAD_DIR=./uploads

ALLOWED_ORIGINS=http://localhost:3000